@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

s|Application {
	backgroundColor: #000000;
	color: #0b333c;
}

mx|Canvas {
	headerHeight: 0;
	padding: 0;
	roundedBottomCorners: false;
	cornerRadius: 0;
}

mx|Panel {
	paddingTop : 10;
	paddingBottom : 10;
	paddingLeft : 10;
	paddingRight : 10;
	horizontalAlign : center;
	verticalAlign: center;
	borderStyle: solid;
	borderAlpha: 0.31;
	cornerRadius: 8;
	headerHeight: 24;
	backgroundAlpha: 0.6;
	textAlign: center;
}



mx|Label.title {
	fontSize: 38;
	verticalAlign: middle;
	color: white;
}

mx|Label.section {
	fontSize: 20;
	horizontalAlign: middle;
	color: black;
	textAlign: center;
}

mx|Button {
	fontSize: 16;
}

mx|Button.menu {
	fontSize: 20;
}


mx|Panel.speech {
	padding : 20;
	horizontalAlign : right;
	verticalAlign: center;
	cornerRadius: 20;
	headerHeight: 0;
	backgroundAlpha: 0.8;
	textAlign: left;
	backgroundColor: white;
	horizontalScrollPolicy: none;
	verticalScrollPolicy: none;
}

mx|Text.speech {
	fontSize: 14;
	backgroundColor: white;
	color: black;
	backgroundAlpha: .8;
}

mx|Label.speechInstruction {
	fontSize: 14;
	color: #303030;
	fontStyle: italic;
}

mx|Label.sentence {
	fontSize:24 ;
	fontStyle: bold;
	textAlign: center;
}

mx|Label.vocab {
	fontSize:18 ;
	fontStyle: bold;
	textAlign: center;
}


.unused {
	upSkin: ClassReference("mx.skins.ProgrammaticSkin");
	downSkin: ClassReference("mx.skins.ProgrammaticSkin");
	overSkin: ClassReference("mx.skins.ProgrammaticSkin");
	disabledSkin: ClassReference("mx.skins.ProgrammaticSkin");
}

.videoButton {
	fillAlphas: 0,0, 0,0;
	highlightAlpha: 0.0, 0.2;
	focusAlpha: .2;
}

mx|LinkButton {
	skin: ClassReference("skins.ToggleLinkButtonSkin");
}

